

input.campo_obligatorio , select.campo_obligatorio{
    border: 1px solid red;
    
}

.negrita{
    font-weight: bold;
}

.row{
    width: 100%;
    clear: both;
}

.cajaDato{
    font-size: 16px;
    float: left;
    width: 200px;
}

.rojo td{
    
    background-color: #a93a32    !important;;
    color: #FFFFFF !important ;
}